@charset "UTF-8";

.cntainer{
    display: grid;
    
    grid-template-columns: 210px 210px 210px;
    gap : 20px;
}

.Card {
    width: 210px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}